
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
h1, h2, h3, h4, h5 {
  font-family: "Roboto", sans-serif;
}
body {
  font-family: 'Roboto', sans-serif;
}

.scrollbar::-webkit-scrollbar {
  width: 100%;
  height: 8px;
}

.scrollbar::-webkit-scrollbar-track {
  border-radius: 0;
  background: #f7f4ed00;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #07694a00;
  border-radius: 0;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #cb10a28a;
}
  
